<div class="sort-item">
	<a href="#">
		<img ng-src='{{sortpart10Data.categorysInfos.son_category[0].categorys[0].banner_image}}'/>
	</a>
	<div class="sort-item-demo">
		{{sortpart10Data.categorysInfos.son_category[1].title}}
	</div>
	<div class="sort-item-list">
		<a ui-sref="sort.part" class="sort-item-listA" ng-repeat="sortpart10 in sortpart10Data.categorysInfos.son_category[1].categorys">
				<img ng-src='{{sortpart10.banner_image}}'/>
				<span>{{sortpart10.c_name}}</span>
		</a>
		
	</div>
	<div class="sort-item-demo">
		{{sortpart10Data.categorysInfos.son_category[2].title}}
	</div>
	<div class="sort-item-list">
		<a ui-sref="sort.part" class="sort-item-listA" ng-repeat="sortpart10 in sortpart10Data.categorysInfos.son_category[2].categorys">
				<img ng-src='{{sortpart10.banner_image}}'/>
				<span>{{sortpart10.c_name}}</span>
		</a>
		
	</div>
	
</div>

