<div id="home">
	<div class="header">
		<span></span>
		进口母婴正品特卖
		<i></i>
	</div>
	<!--<div class="banner" class="swiper-container">
		<div class='swiper-wrapper'></div>
        <div class="swiper-pagination"></div>
	</div>-->
	<div class="banner swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="x in swiperData"><img ng-src={{x.activity.img}}/></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="list">
		<div>	
			<dl ui-sref="milkhome">
				<dt></dt>
				<dd>奶粉</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>纸尿裤</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>孕产</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>喂养洗护</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>童装</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>玩具</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>童车/床</dd>
			</dl>
			<dl>
				<dt></dt>
				<dd>更多</dd>
			</dl>
		</div>
		<div class="line">
			<div>
				<span></span>
				<div class="headline-column">
					<ul>
						<li><span>专栏</span>敬爱的烦恼快递劫匪那段时间开发你怂点</li>
						<li><span>专栏</span>敬爱的烦恼快递劫匪那段时间开发你怂点</li>
						<li><span>专栏</span>敬爱的烦恼快递劫匪那段时间开发你怂点</li>
						<li><span>专栏</span>敬爱的烦恼快递劫匪那段时间开发你怂点</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="kid">
		<div>
			<span></span>
			给孩子买安心，蜜芽100%正品保证！
		</div>
		<div>
			<div>
				<a href="###"><img src="http://img.miyabaobei.com/d1/p5/2016/09/28/66/3e/663eb9b89e2d4f2b5c3e0f51d9370501489382370.jpg" alt=""></a>
			</div>
			<div>
				<a href="###"><img src="http://img.miyabaobei.com/d1/p4/2016/09/28/08/68/0868a6b1b300065dc5279e3da3f88249489619774.jpg" alt=""></a>
				<a href="###"><img src="http://img.miyabaobei.com/d1/p5/2016/09/28/c5/e8/c5e8a4ea10cb8bc9779cdb9a6a4b9710489818229.jpg" alt=""></a>
				<a href="###"><img src="http://img.miyabaobei.com/d1/p4/2016/09/28/fb/2c/fb2cd151999d562208362ce45ba63cfd489921233.jpg" alt=""></a>
				<a href="###"><img src="http://img.miyabaobei.com/d1/p4/2016/09/28/67/9f/679f235b4f10be7e59e105554a9f3cfe490071129.jpg" alt=""></a>
			</div>
		</div>
	</div>
	<div class="group">
		<div>
			<span></span>
			今日拼团
		</div>
		<div>
			<div>
				<div>
					<span></span>
					<img src="http://img01.miyabaobei.com/item/10/1039/1039304_normal_4.jpg">
				</div>
				<div>
					<div>
						<p>宝贝乐点头安抚不倒翁asdfdfsdfsdf</p>
						<p>点头萌娃不倒翁 宝宝安全乐趣fsdfsdf</p>
						<p>已购<span>345</span>件</p>
					</div>
					<div>
						<p>2人团 包邮</p>
						<div>
							<span>¥9.90</span>
							<div><p>省¥79.1</p><p>去开团</p></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div>
					<span></span>
					<img src="http://img01.miyabaobei.com/item/10/1039/1039304_normal_4.jpg">
				</div>
				<div>
					<div>
						<p>宝贝乐点头安抚不倒翁asdfdfsdfsdf</p>
						<p>点头萌娃不倒翁 宝宝安全乐趣fsdfsdf</p>
						<p>已购<span>345</span>件</p>
					</div>
					<div>
						<p>2人团 包邮</p>
						<div>
							<span>¥9.90</span>
							<div><p>省¥79.1</p><p>去开团</p></div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div>
					<span></span>
					<img src="http://img01.miyabaobei.com/item/10/1039/1039304_normal_4.jpg">
				</div>
				<div>
					<div>
						<p>宝贝乐点头安抚不倒翁asdfdfsdfsdf</p>
						<p>点头萌娃不倒翁 宝宝安全乐趣fsdfsdf</p>
						<p>已购<span>345</span>件</p>
					</div>
					<div>
						<p>2人团 包邮</p>
						<div>
							<span>¥9.90</span>
							<div><p>省¥79.1</p><p>去开团</p></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="jnHot">
			<div class="newHot">
				<!-- 点击加载更多 -->
				<div ng-repeat="x in resPRO">
					<div>
						<span></span>
						<img ng-src="{{x.itemPic}}">
					</div>
					<div> 
						<div>
							<p>{{x.name}}</p>
							<p>{{x.intro}}</p>
							<p>已购<span>{{x.sold_num}}</span>件</p>
						</div>
						<div>
							<p>{{x.min_person}}人团 包邮</p>
							<div>
								<span>¥{{x.groupon_price}}</span>
								<div><p>省¥{{x.discount}}</p><p>去开团</p></div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<p ng-click="loading()" ng-show="isshow">点击加载更多<span><img src="img/down.jpg"></span></p>
		</div>
	</div>
	<div class="sell">
		<div>
			<span></span>
			今日特卖 每日十点上新
		</div>
		<div class="exHot">
			<div>
				<div class="bigimg">
					<a href="###">
						<img src="//img01.miyabaobei.com/d1/p4/2016/11/14/1d/99/1d99e0bf2628162fcf868b19eb50d512140717827.jpg">
					</a>
				</div>
				<div class="out">
					<div class="in">
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
						<a href="###">
							<img src="http://img03.miyabaobei.com/d1/p3/item/13/1311/1311463_normal_4.jpg">
							<p>磁力片积木百变提拉建构塑料哒哒搭磁性玩具 186件套-v8806-9</p>
							<p>¥399<del>¥1299</del></p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div>-到底啦-</div>
	</div>
	<div class="footer">
		<div>
			<img src="http://img.miyabaobei.com/d1/p5/2016/11/14/01/e1/01e1de76f2290e4e2adc1133d95b4c31192884044.jpg">
		</div>
		<div>
			<p>
				<a href="###">电脑版网页</a> |
				<a href="###">蜜芽触屏版首页</a> |
				<a href="###">关于我们</a>
			</p>
		</div>
		<div>
			<p>通过本网站直接或者间接地推销商品或者服务的商业宣传活动均属“广告”</p>
			<p>Copyright &copy 2016 </p>
			<p>北京花旺在线商贸有限公司 Mia.com 保留一切权利</p>
		</div>
	</div>
</div>
