#mine {
  width: 100%;
  height: 100%;
  background: #ececec;
}
#mine .header {
  width: 100%;
  height: 1.466667rem;
  line-height: 1.466667rem;
  background: #ff4e88;
  font-size: 0.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#mine .header a {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
}
#mine .header .left {
  background: url(http://mfile03.miyabaobei.com/resources/images/m/headIcoL.png) center center no-repeat;
  background-size: 100%;
  margin-left: 0.5rem;
}
#mine .header .right {
  background: url(http://mfile03.miyabaobei.com/resources/images/m/headIcoH.png) center center no-repeat;
  background-size: 100%;
  margin-right: 0.5rem;
}
#mine .deta {
  width: 100%;
  background: #fff;
  margin-top: 1.466667rem;
}
#mine .deta .self {
  width: 100%;
  height: 3.5rem;
  border-bottom: 1px #ddd solid;
  display: flex;
  align-items: center;
}
#mine .deta .self .photo {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0.4rem;
}
#mine .deta .self .photo img {
  display: block;
  width: 100%;
}
#mine .deta .self .mess {
  width: 5.4rem;
  height: 2rem;
}
#mine .deta .self .mess h3 {
  font-size: 0.5rem;
}
#mine .deta .self .mess > p {
  height: 0.73rem;
  line-height: 0.73rem;
  font-size: 0.4rem;
  color: #999;
}
#mine .deta .self .mess > p span {
  font-size: 0.4rem;
  font-weight: bold;
  color: #515151;
}
#mine .deta .self .mess > p span:nth-of-type(1) {
  margin-right: 0.5rem;
}
#mine .deta .indent {
  width: 100%;
  height: 1.8rem;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  padding-bottom: 0.25rem;
}
#mine .deta .indent a {
  display: block;
  width: 20%;
  height: 1.8rem;
}
#mine .deta .indent a:nth-of-type(1) {
  background: url(http://mfile04.miyabaobei.com/resources/images/m/domain/individualCenter_1_01.png) center center no-repeat;
  background-size: 1.6rem;
}
#mine .deta .indent a:nth-of-type(2) {
  background: url(http://mfile04.miyabaobei.com/resources/images/m/domain/individualCenter_1_02.png) center center no-repeat;
  background-size: 1.6rem;
  position: relative;
}
#mine .deta .indent a:nth-of-type(2) span {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  background-color: #ff4e88;
  color: #fff;
  font-size: 0.4rem;
  border-radius: 50%;
}
#mine .deta .indent a:nth-of-type(3) {
  background: url(http://mfile04.miyabaobei.com/resources/images/m/domain/individualCenter_1_03.png) center center no-repeat;
  background-size: 1.6rem;
}
#mine .deta .indent a:nth-of-type(4) {
  background: url(http://img.miyabaobei.com/d1/p5/2016/06/28/ca/83/ca83b650a1aac5b4b2aa2b20fdf4fcad006898559.png) center center no-repeat;
  background-size: 1.6rem;
}
#mine .deta .indent a:nth-of-type(5) {
  background: url(http://img.miyabaobei.com/d1/p5/2016/06/28/40/c2/40c205819f4c5418c40708f0240aea27007411966.png) center center no-repeat;
  background-size: 1.6rem;
}
#mine .list {
  background: #fff;
  margin-top: 0.5rem;
}
#mine .list > div {
  height: 1.4666667rem;
  line-height: 1.4666667rem;
  border-bottom: 1px solid #ddd;
  margin-left: 0.5rem;
}
#mine .list > div a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mine .list > div a span {
  font-size: 0.4rem;
  font-family: \5FAE\8F6F\96C5\9ED1,SimHei;
}
#mine .list > div a .spanL {
  color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mine .list > div a .spanL img {
  width: 0.63rem;
  height: 0.63rem;
  margin-right: 0.5rem;
}
#mine .list > div a .spanR {
  font-size: 0.4rem;
  color: #c1c1c1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mine .list > div a .spanR img {
  width: 0.63rem;
  height: 0.63rem;
  margin: 0 0.3rem;
}
#mine .list .phone {
  border-bottom: none;
}
#mine .list .phone a .spanR {
  color: #ff4e88;
  font-weight: bold;
}
#mine .img {
  width: 100%;
  margin-top: 0.5rem;
}
#mine .img a {
  display: block;
  width: 100%;
}
#mine .img a img {
  width: 100%;
}
#mine .exit {
  width: 6rem;
  height: 1.27rem;
  margin: 0 auto;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}
#mine .exit a {
  display: block;
  background: #ff4e88;
  width: 100%;
  height: 100%;
  line-height: 1.27rem;
  text-align: center;
  color: #fff;
  font-family: \5FAE\8F6F\96C5\9ED1,SimHei;
  font-size: 0.45rem;
}
